<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <meta name="description" content="White Oak Volunteer Fire Department - Campbell County, Tennessee"/>
    <meta name="keywords" content="White, Oak, Fire, Volunteer, Department, District, Campbell, County, Tennessee, TN"/>
    <meta name="author" content="Hayden Bradfield"/>
    <title>White Oak Volunteer Fire Department</title>
    <link rel="stylesheet" href="/uikit-3.6.5/css/uikit.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>