<header class="header">
    <div class="header-action-area">
      <div class="header-action-area__one">
        <!-- <img src="./img/facebook2.svg" alt="Facebook"> -->
        <img class="fire-icon" src="/img/fire.svg" alt="Fire">
        <p class="dial911">Emergency Dial 911</p>
      </div>
      <div class="header-action-area__two">
        <button class="mobile-nav-toggle">
          <img class="menu-icon" src="/img/menu.svg" alt="Menu Icon">
        </button>
        <nav class="nav">
          <a class="nav__link uk-button-text">Home</a>
          <a class="nav__link uk-button-text">Wish List</a>
          <a class="nav__link uk-button-text">Apparatus</a>
          <a class="nav__link uk-button-text">Personnel</a>
        </nav>
      </div>
    </div>
    <div class="logo-container">
      <div class="logo">
        <img class="fd-img" src="/img/fdlogotrans.png" alt="FD">
        <div class="logo__text">
          <h1>White Oak Volunteer Fire Dept.</h1>
          <h2>Campbell County, Tennessee</h2>
        </div>
      </div>
    </div>
  </header>