<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    <%- include('./includes/head.ejs') %>
    <body>
      <div class="container">
        <!-- Header -->
        <%- include('./includes/header.ejs') %>
        <section class="slideshow" uk-slideshow="animation: fade; autoplay: true">
          <ul class="slideshow-items uk-slideshow-items">
            <li>
              <div 
              class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left"
              >
                <img src="/img/firefighter.jpg" alt="Firefighters">
              </div>
            </li>
            <li>
              <div 
              class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left"
              >
                <img src="/img/firefighter.jpg" alt="Firefighters">
              </div>
            </li>
          </ul>
        </section>
        <section class="info-section">
          <h3 class="serving">Serving the White Oak community and surrounding areas</h3>
          <div class="home-grid">
            <div class="about">
              <p>
                The White Oak Volunteer Fire Department (WOVFD) is a non-profit, fully volunteer organization tasked with responding to various emergencies in the White Oak community of Campbell County. From fires to vehicular accidents, our volunteers are trained and eager to provide their assistance to the residents and visitors of White Oak. 
              </p>
              <p>
                Although our primary role is fire supression, we also respond or assist with the following:
              </p>
              <ul>
                <li>Motor vehicle collisions and accidents</li>
                <li>Extrication and light-duty rescue</li>
                <li>Traffic control at emergency scenes</li>
                <li>Assisting Emergency Medical Services (EMS) personnel</li>
              </ul>
              <p>
                While the WOVFD receives some tax revenue from the county, we rely on generous donations from the community to provide our essential services. Dontations do not have to be monetary in nature. See our <a href="#">Wish List</a> for more information on much-needed supplies we are seeking. Any contribution helps, and because we are a federally-recognized not-for-profit organization, certain contributions are eligible for tax deductions.  
              </p>
            </div>
            <div class="sidebar">
              <div class="resources">
                <h4 class="resources__heading">Resources</h4>
                <ul class="resources__list">
                  <li class="resources__list-item">
                    <a class="resources__link">Campbell County Emergency Management Agency (EMA)</a>
                  </li>
                  <li class="resources__list-item">
                    <a class="resources__link">TN Fire Commission</a>
                  </li>
                  <li class="resources__list-item">
                    <a class="resources__link">TN Fire Marshal's Office</a>
                  </li>
                  <li class="resources__list-item">
                    <a class="resources__link">TN Forestry Division</a>
                  </li>
                  <li class="resources__list-item">
                    <a class="resources__link">American Red Cross Assistance</a>
                  </li>
                  <li class="resources__list-item">
                    <a class="resources__link">United Way of East Tennessee</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>
      </div>
      <script src="/uikit-3.6.5/js/uikit.min.js"></script>
    </body>
</html>